.editandelete {
    justify-content: center;
    display: flex;
    border-top: 1px solid darkgray;
    margin-bottom: 5px;
    padding-top: 5px;
}

.clickable-image{
    cursor: pointer;
    padding: 5px;
    padding-top: 20px;
}

/* example: to pimp a butterfly */
.card-title{
    background-color: #e1e1e1;
    font-family: 'Ferrite Core DX';
    font-size: 22.5px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    padding: 10px;
}
/* example: kendrick lamar */
.card-artist{
    background-color: #f9f9f9;
    font-family: 'Ferrite Core DX';
    font-size: 17.5px;
    text-transform: lowercase;
    text-align: center;
    width: calc(40%-20px);
    padding: 10px;
}

/* example: this was written by: Mr. White */
.author-text{
    font-size: calc(1.5rem + 1vw);
}

/* inside of modal image */
.modal-img {
    cursor: pointer;
    display: block;
    object-fit: cover;
  }
