body {
  font-family: 'Times New Roman';
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100vh;
  color: rgb(0, 0, 0);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header {
    color: white;
  font-family: 'Helvetica Neue';
  text-align: center;
  background-color: rgb(246, 246, 246);
  border-bottom: 2px solid rgb(200, 200, 200);
  margin-bottom: 10px;
}

html {
  scroll-behavior: smooth;
}


.form-container {
  width: 80%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  }

.blog-image img {
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  width: 400px;  
  height: 300px;
}

.individual-card {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.modal {
  padding: 10px;
}

.modal-fullscreen {
  width: 100vw;
  max-width: none;
  height: 100%;
}

.create-title {
  text-align: center;
}

.modal img{
  align-items: center;
}