/* Planet bubble font for header */
@font-face {
  font-family: 'Planet Bubble';
  src: url('./assets/fonts/PlanetBubble.TTF') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Helvetica Nuev';
  background-size: cover;
  color: rgb(0, 0, 0);
  width: 100%;
  height: 100vh;
}

.header {
  border-bottom: 2px solid rgb(200, 200, 200);
  background-color: rgb(246, 246, 246);
  font-family: 'Planet Bubble';
  text-align: center;
}

.navbar-header {
  margin-left: 5px;
  font-size: 50px;
}

.modal-title {
  text-align: center;
  border-bottom: 1px rgb(212, 212, 212) solid;
  margin-bottom: 4px;
  
}

html {
  scroll-behavior: smooth;
}


.form-container {
  width: 80%;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
}


.individual-card {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  padding-inline: 20px;
  background-color: white;
}

.modal {
  padding: 10px;
}

.modal-fullscreen {
  width: 100vw;
  height: 100%;
}

.modal-img {
  cursor: pointer;
  display: block;
  object-fit: cover;
  filter: drop-shadow(10px solid black);
  width: calc(100% - 10px);
  align-content: center;
}

.create-title {
  text-align: center;
}

/* 
------------rotating disc------------
 */
.disc:hover {
  -webkit-animation: rotation 5s ease-in-out forwards;
  animation: rotation 5s ease-in-out forwards;
}

@-webkit-keyframes rotation {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(720deg);
      transform: rotate(720deg);
  }
}

/* ----------- loading... ---------- */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
